.cover__subtitle {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.22;
	text-align: center;
	padding: 0 0 245px;
	max-width: 360px;
	margin-block-start: 0;
    margin-block-end: 0;
    margin: 0 auto;
}


@media (max-width:1024px) {

	.cover__subtitle {
		padding-bottom: 195px;
	}

}

@media (max-width:768px) {

	.cover__subtitle {
		padding-bottom: 115px;
	}

}

@media (max-width:425px) {

	.cover__subtitle {
		max-width: 288px;
		padding-bottom: 33px;
		font-size: 14px;
		line-height: 1.14;
	}

}