.footer__container {
	margin: 92px 0 24px;
}

@media (max-width:1024px) {

	.footer__container {
		margin: 88px 0 24px;
	}

}

@media (max-width:767px) {

	.footer__container {
		display: flex;
  		flex-direction: column;
		margin: 88px 0 24px;
	}

}

@media (max-width:425px) {

	.footer__container {
		margin: 64px 0 24px;
	}

}