.lead__image {
    display: block;
    margin: auto;
}

@media (max-width: 1024px) {
    .lead__image {
        width: calc(100% - 96px);
    }
}

@media (max-width: 1023px) {
    .lead__image {
        width: 100%;
    }
}
