.lead__image {
	/*background-image: url("../../../images/lead-image.svg");*/
	/*width: 984px;*/
	/*height:615px;*/
	/*margin: 0 auto;*/
	/*background-size: cover;*/
	display:block;
	margin:auto;
}

@media (max-width:1024px) {

	.lead__image {
		width: calc(100% - 96px);
	}
}

@media (max-width:768px) {

	.lead__image {
		width: 100%;
	}
}