.lead__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    width: 984px;
    margin: 8px auto 0 auto;
}

@media (max-width: 1024px) {
    .lead__caption {
        width: calc(100% - 96px);
    }
}

@media (max-width: 768px) {
    .lead__caption{
        width: calc(100% - 48px);
    }
}

@media (max-width: 425px) {
    .lead__caption {
        width: calc(100% - 32px);
    }
}