.place {
	width: 984px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 26px 40px;
    margin: 0 0 54px 0;
}


@media (max-width:1024px) {

	.place {
		width: calc(100% - 96px);
	    gap: 27px 32px;
	    margin-bottom: 53px;
	}

}

@media (max-width:768px) {

	.place {
		width: calc(100% - 48px);
	    gap: 25px 28px;
	    margin-bottom: 48px;
	}

}

@media (max-width:425px) {

	.place {
		width: 100%;
		grid-template-columns: 100%;
	    grid-template-rows: repeat(5, auto);
	    gap: 25px;
	    margin-bottom: 25px;
	}

}