.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 26px 40px;
    margin: 0 auto 54px auto;
}

@media (max-width: 1024px) {
    .place {
        width: calc(100% - 48px);
        gap: 27px 32px;
        margin: 0 0 53px 0;
    }
}

@media (max-width: 1023px) {
    .place {
        width: calc(100% - 48px);
        gap: 27px 30px;
    }
}

@media (max-width: 768px) {
    .place {
        width: calc(100% - 24px);
        gap: 25px 28px;
        margin: 0 0 48px 0;
    }
}

@media (max-width: 767px) {
    .place {
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, auto);
        gap: 27px;
    }
}

@media (max-width: 425px) {
    .place {
        gap: 25px;
        margin: 0 0 50px 0;
    }
}